<footer class="bg-light">
    <%- footer %>

        <div class="center">
            <p class="mb-0 text-center">Copyright© <a href="https://github.com/raphaelarcanjo" title="GitHub">Raphael Arcanjo</a></p>
        </div>
</footer>
</body>

</html>