<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

<head>
    <meta charset="utf-8">
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <!-- Materialize compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Seu Blog - <%- title %></title>
</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo teal-text"><img src="img/logo.png" alt="Seu Blog"></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="cadastrar" title="Cadastre-se">Cadastre-se</a></li>
                    <li><a href="sobre" title="Sobre N贸s">Sobre N贸s</a></li>
                    <li><a href="contato" title="Contato">Contato</a></li>
                    <% if (typeof logged == 'undefined' || !logged) { %>
                    <li id="loginForm">
                        <nav>
                            <div class="nav-wrapper teal darken-3">
                                <form class="right" action="/login" method="post">
                                    <div class="row">
                                        <div class="input-field col">
                                            <input id="login" name="login" type="text" required>
                                            <label for="login">login</label>
                                        </div>
                                        <div class="input-field col">
                                            <input id="senha" name="senha" type="password" required>
                                            <label for="senha">senha</label>
                                        </div>
                                        <div class="col">
                                            <button type="submit"
                                                class="wave-effects wave-light btn pink">Entrar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </nav>
                    </li>
                    <% } else { %>
                    <li>
                        <a href="/logout" class="wave-effects wave-light btn pink">Sair</a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
            <li><a href="cadastrar" title="Cadastre-se">Cadastre-se</a></li>
            <li><a href="sobre" title="Sobre N贸s">Sobre N贸s</a></li>
            <li><a href="contato" title="Contato">Contato</a></li>
            <% if (typeof logged == 'undefined' || !logged) { %>
            <li>
                <div class="container center">
                    <form class="" action="login" method="post">
                        <div class="input-field">
                            <input id="login" name="login" type="text" required>
                            <label for="login">login</label>
                        </div>
                        <div class="input-field">
                            <input id="senha" name="senha" type="password" required>
                            <label for="senha">senha</label>
                        </div>
                        <button type="submit" class="wave-effects wave-light btn pink">Entrar</button>
                    </form>
                </div>
            </li>
            <% } else { %>
            <li>
                <a href="/logout" class="wave-effects wave-light btn pink">Sair</a>
            </li>
            <% } %>
        </ul>

        <%- header %>
    </header>