<%- contentFor('title') %>
Login

<%- contentFor('header') %>


<%- contentFor('body') %>
<form action="login" method="post">
    <input type="submit" value="Enviar" class="wave-effects wave-light btn">
</form>

<%- contentFor('footer') %>
