<%- contentFor('title') %>
    Contato

    <%- contentFor('header') %>


        <%- contentFor('body') %>
            <h3 class="text-center">Contatos:</h3>

            <div class="row">
                <div class="col-12 col-md-6 text-center text-md-right">
                    <p>Telefone:</p>
                    <p>E-mail:</p>
                    <p>Git Hub</p>
                </div>
                <div class="col-12 col-md-6 text-center text-md-left">
                    <p><a href="https://wa.me/5521979110744" title="WhatsApp">(21) 97911-0744</a></p>
                    <p><a href="mailto:raphael.cunha.br@gmail.com" title="E-mail">raphael.cunha.br@gmail.com</a></p>
                    <p><a href="https://github.com/raphaelarcanjo" title="Git Hub">https://github.com/raphaelarcanjo</a></p>
                </div>
            </div>

            <%- contentFor('footer') %>