<%- contentFor('title') %>
Sobre Nós

<%- contentFor('header') %>


<%- contentFor('body') %>
<h1>Bem-vindo(a) ao <span class="teal-text">Seu Blog</span></h1>

<p>Uma plataforma de blogs completamente simples e elegante!</p>
<p>Chame seus amigos para que possam ver o conteúdo do seu blog pessoal, escreva sobre o que desejar, poste fotos, vídeos, links, músicas e tudo mais que estiver na sua mente, afinal de contas este é o <span class="teal-text">Seu Blog</span></p>

<%- contentFor('footer') %>
